@import '../../../../less/colors.less';
@import '../../../../less/fonts.less';

.createCard {
  font-family: @defaultFont;
  width: 20rem;
  height: 15rem;
  border: @grey solid .1rem;
  border-radius: 1rem;
  background: linear-gradient(to left top, rgb(236, 72, 153), rgb(239, 68, 68), rgb(234, 179, 8));
  box-shadow: 0 1rem 1rem rgba(128, 128, 128, 0.3);

  // display
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-top: .5rem;
    padding: .3rem 1rem;
    color: #454545;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 1rem 1rem rgba(128, 128, 128, 0.3);
    border-radius: 1rem;
  }

  img {
    height: 60%;
  }
}

.createCard:hover {
  cursor: pointer;
  animation: jump .2s;

  img {
    animation: inertia .2s ease .1s;
  }
}

@keyframes jump {
  0%   { transform: translate(0, 0) }
  50%  { transform: translate(0, -1rem) }
  100% { transform: translate(0, 0) }
}

@keyframes inertia {
  0%   { transform: translate(0, 0) }
  50%  { transform: translate(0, -1rem) }
  100% { transform: translate(0, 0) }
}