@import '../../../less/colors.less';
@import '../../../less/fonts.less';

.container {
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;

  // display
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.paginatedBox {
  position: fixed;
  z-index: 9;
  top: 12em;
  right: 1em;

  display: flex;
  flex-direction: column;
  gap: .2em;

  div {
    border: #222222 double .2em;
    background-color: rgba(255, 255, 255, .95);
    box-shadow: 0 1rem 1rem rgba(128, 128, 128, 0.3);
    font-family: @defaultFont;
    border-radius: .3em;
    padding: .3em 0;

    display: flex;
    flex-direction: column;
    gap: .1em;
  }

  .prev { background: linear-gradient(to right, rgb(251, 113, 133), rgb(217, 70, 239), rgb(99, 102, 241)); }
  .next { background: linear-gradient(to left, rgb(251, 113, 133), rgb(217, 70, 239), rgb(99, 102, 241)); }
  .muted { visibility: hidden; }

  .prev, .next { transition: .5s; }

  button{
    font-family: @defaultFont;
    padding: .5rem 2rem;
    border-radius: .3rem;
    border: #222222 solid .1rem;
    box-shadow: 0 1rem 1rem rgba(128, 128, 128, 0.3);
    color: white;
  }
  
  button:hover {
    cursor: pointer;
    background: white;
    color: #222222;
  }
}