@import '../../../../less/colors.less';
@import '../../../../less/fonts.less';

.sort {
  box-sizing: border-box;
  height: 100%;

  // display
  display: flex;
  justify-content: space-between;
  align-items: center;

  select {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 42%;
    border: white solid .2rem;

    font-family: @defaultFont;
    font-size: larger;
    color: #222222;
    list-style: none;

    // display
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  select:hover {
    cursor: pointer;
  }
}

.separator {
  height: 70%;
  width: .2rem;
  background-color: white;
  border-radius: 1rem;
}

.sortBox {
  box-sizing: border-box;
  height: 100%;

  // display
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    width: 6rem;
    background-color: @darkblue;
  }  
}
